# Python & Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
media/
staticfiles/

# Javascript & React
node_modules/
build/
.DS_Store
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
