@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6; /* Gray-100 */
    margin: 0;
    font-family:
        'Inter',
        system-ui,
        -apple-system,
        sans-serif;
}
